@import "tailwindcss";

@font-face {
  font-family: 'Blocklyn Condensed';
  src: url('/fonts/Blocklyn-Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* 🌟 Aqui você define a variável como sua fonte customizada */
:root {
  --font-sans: 'Blocklyn Condensed', sans-serif;
  /* --font-mono: monospace; */
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* ✅ aplica a variável com Blocklyn */
  
}
nextjs-portal {
  display: none;
}